@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

*{
    font-family: 'Raleway';
    font-style: normal;
    box-sizing:border-box;    
}

body{margin:0;}

header, section, footer{
    margin:auto;
    max-width: 1440px;    
    width: 100%;
}

/* HEADER */

header{
    align-items: center;
    width: 100%;
    padding:0 55px;
}

nav{         
    margin-top:0;
    margin-bottom:0;
    padding-left:0;     
}

.menu{
    padding-top: 46px;
    padding-bottom: 48px;
    border-top: 2px solid transparent;    
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    width: 10em;
}

nav a:hover {
    border-top: 2px solid #0065FC;   
    color:#0065FC;   
}

.logo{
    max-height:19px;                
}

a{
    text-decoration: none;
    color:black;
}

/* SECTION 1 */

#res-loc{    
    font-weight: 700;
    font-size: 18px;
    /*line-height: 21px;*/  
    color: black;
    background: #FFFFFF;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    border-left: 0;
    border-right: 0;
    height:49px;
    width:236px;
    padding:0 1em;   
}

/*::placeholder{opacity:1;} Changer l'opacité du placeholder dans l'input*/

h2{
    font-weight: 700;
    font-size: 22px;
    margin:0.3em 0;    
    /*line-height: 26px;*/
}

#sub-h2{
    margin:0.5em 0 1.4em 0;
}

.sec1-p{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;    
}

section{padding: 0 55px;}

i{color:#0065FC;}

.fa-location-dot{
    color:black;
    font-size: 1.3em;
}

button, input{
    padding:0;
}

#loc-pin{
    background: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    width: 50px;
    height: 49px;
    min-width:50px;
    /* padding: 0; */
}

#loc-pin:active{
    transform:scale(0.95)    
}

/* #loc-pin:hover{
    background:#F9F9F9; 
} */

#search-btn{
    background: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
    width:132px;
    height:49px;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;    
}

#search-btn:active{
    transform:scale(0.95);    
}

.sec1-span{    
    height: 24px;
    width: 24px;        
    border-radius: 50%;
    border: 1px solid #D9D9D9;
}

.fa-info{
    font-size: 0.8em ;
}

.filters{
    background: #FFFFFF;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    height: 50px;
    padding:1em;
    margin: 0 1.5em;
}

.filters:focus{
    background: #DEEBFF;
}

#filters{
    margin-right:0.5em;
}

.div-filters{
    margin:1.5em 0;
}

button.filters i{
    font-size: 1.5em;
    margin-right:0.5em;
}

button.filters p{
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    /* margin-right:0.5em; */
}

#info{
    margin:0 0.6em;
}




.flex{
    display: flex;
}

.row{
    flex-direction: row;
}

.column{
    flex-direction: column;
}

.r-row{
    flex-direction: row;
}

.r-column{
    flex-direction: column;
}

.items-center{
    align-items: center;
}

.jc-center{
    justify-content: center;    
}

.jc-space-between{
    justify-content: space-between;
}

.jc-space-evenly{
    justify-content: space-evenly;
}

.jc-space-around{
    justify-content: space-around;
}

.jc-start{
    justify-content: flex-start;
}