@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

header {    
}

.row_btwn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

ul{
    list-style-type: none;
}

.menu{
          
}

.loc_bar{
    
}

.flex_left{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.row_even{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;  
}

.row_start{
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.clmn_start{
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.gray_star{
    color:#F2F2F2;

}

.blue_star{
    color:#0065FC;
}

.medium_img{
    width: fit-content;
    height: fit-content;
    max-width:246px;
    max-height:124px;
    border: 5px solid #FFFFFF;
    border-radius: 20px 20px 0px 0px;
}

.small_img{
    width: fit-content;
    height: fit-content;
    max-width:137px;
    max-height:144px;
    border: 5px solid #FFFFFF;
    border-radius: 20px 0px 0px 20px;
}

.med_div{
    height:144px;
    width:343px;
    border-radius: 20px;
    background: #FFFFFF;
}

.small_div{
    height:199px;
    width:246px;
    border-radius: 20px;
    background: #FFFFFF;
}

.big_box{
    max-width: 61.111111%;
}

.small_box{
    max-width:29.166666%;
}

* {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

/* *{
    border: 1px solid red;
} */
