@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

/* ~~~~~~~~~~~~ Mes modifications sur toute la page ~~~~~~~~~~~~ */

* {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --main-color: #0065fc;
    --sub-color-1: #f2f2f2;
    --sub-color-2: #deebff;
}

body {
    margin: auto;
    max-width: 1440px;
}

header,
main,
footer {
    padding: 0 50px;
}

html {
    font-size: 62.5%;
}

h1,
h2,
h3 {
    font-weight: 700;
    font-size: 22px;
    margin: 0;
    line-height: 26px;
}

h3 {
    font-size: 16px;
    line-height: 19px;
}

a {
    /* Retrait du soulignement de base des liens */
    text-decoration: none;
    color: black;
}

i {
    /* Change la couleur de toutes les icônes */
    color: var(--main-color);
}

button,
input {
    padding: 0;
}

/* ~~~~~~~~~~~~ HEADER ~~~~~~~~~~~~ */

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    padding: 0;
    margin: 30px 0;
}

.header__logo__img {
    max-height: 19px;
}

.header__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: flex-start;

    .header__menu__item:first-child {
        margin-right: 68px;
    }

    .header__menu__item {
        padding-top: 15px;
        border-top: 2px solid transparent;
        font-weight: 500;
        font-size: 16px;
        text-align: center;
    }

    .header__menu__item:hover {
        border-top: 2px solid var(--main-color);
        color: var(--main-color);
    }
}

/* ~~~~~~~~~~~~ Filtres ~~~~~~~~~~~~ */

.container {
    display: block;
    margin-top: 30px;
}

.container_subtitle {
    margin: 8px 0 0 0;
}

.container__paragraph {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.container__searchbar {
    display: flex;
    flex-direction: row;
    justify-content: start;
    height: 50px;
    width: 400px;
    position: relative;
    border-width: 1px 0;
    border-color: var(--sub-color-1);
    border-style: solid;
    border-radius: 15px;
    margin: 35px 0;
}

.location-pin {
    position: relative;
    margin: -1px;
    background: var(--sub-color-1);
    border: 1px solid var(--sub-color-1);
    border-radius: 15px 0px 0px 15px;
    padding: 0 16px;
}

.location-pin:active {
    transform: scale(0.95);
}

.fa-location-dot {
    color: black;
    font-size: 1.8rem;
}

.container__searchbar__input {
    width: 100%;
    font-weight: 700;
    font-size: 18px;
    color: black;
    background: #ffffff;
    /* border-top: 1px solid var(--sub-color-1); */
    /* border-bottom: 1px solid var(--sub-color-1); */
    /* border-left: 0;
    border-right: 0;     */
    border: 0px;
    padding: 0 24px;
    flex-grow: 1;
}

.container__searchbar__button {
    background: var(--main-color);
    border: 1px solid var(--main-color);
    border-radius: 0px 15px 15px 0px;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    color: #ffffff;
    padding: 0 16px;
}

.container__searchbar__button:active {
    transform: scale(0.95);
}

.fa-magnifying-glass {
    font-size: 1.7rem;
    color: white;
}

i.container__searchbar__button--magnifying-glass {
    display: none;
}

.container__searchbar__button--research {
    display: block;
}
::placeholder {
    opacity: 1;
}

.container__filters {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-bottom: 35px;
}

.container__filters__title {
    margin-right: 15px;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}

.container__filters__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
}

.container__filters__container__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    background: #ffffff;
    border: 2px solid #d9d9d9;
    border-radius: 25px;
    padding: 0 19px;
    margin-right: 15px;
    text-align: left;

    &:hover {
        background: var(--sub-color-2);
    }

    & i {
        width: 25px;
        font-size: 20px;
        margin-right: 8px;
        text-align: center;
        padding: 12px 0;
    }

    & span {
        font-weight: 700;
        font-size: 17px;
    }
}

.container__info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.container__info__icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    border: 1px solid #d9d9d9;
}

.fa-info {
    font-size: 11px;
}

/* Petite ligne avec l'icône info à gauche */
.container__info__paragraph {
    margin: 0 0 0 9px;
}

/* ~~~~~~~~~~~~  MAIN ~~~~~~~~~~~~ */

main {
    margin: 35px 0;
}

.lodging {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.lodging__marseille,
.lodging__popular {
    background: var(--sub-color-1);
    border-radius: 20px;
    padding: 30px;
}

.lodging__marseille {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.lodging__marseille__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 15px;
}

.lodging__popular {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 32%;

    .lodging__popular__title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

.lodging__popular__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    margin-top: 30px;
}

.lodging__card {
    width: 31%;
    background: #ffffff;
    border-radius: 20px;
    margin: 15px 0;
}

article {
    box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    transition: all 0.2s ease-out;
}

a article:hover {
    transform: scale(1.1);
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    top: -4px;
    background-color: var(--sub-color-2);
}

.lodging__card__article,
.popular__card__article {
    height: 100%;
    width: 100%;
}

.popular__card__article {
    display: flex;
    flex-direction: row;
}

.lodging__card__article {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.image__medium {
    width: 100%;
    height: 125px;
    object-fit: cover;
    border: 5px solid transparent;
    border-radius: 20px 20px 0px 0px;
    flex-shrink: 0;
}

.lodging__card__article__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 4px 12px 12px 12px;
    height: 100%;
}

.card__price {
    padding: 8px 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    margin: 0;
}

.popular__card__rating .fa-star {
    font-size: 1.07rem;
}

.fa-star {
    font-size: 1.18rem;
    margin-right: 2px;
}

.grey {
    color: var(--sub-color-1);
}

.lodging__marseille_link {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    width: fit-content;
    margin-top: 30px;

    &:active {
        transform: scale(0.95);
    }
}

.popular__card {
    width: 100%;
    background: #ffffff;
    border-radius: 20px;
    margin: 0;
}

.popular__card__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 66%;
    height: 145px;
    padding: 10px 15px;
}

.image__small {
    max-width: 140px;
    width: 34%;
    height: 145px;
    object-fit: cover;
    border: 5px solid transparent;
    border-radius: 20px 0px 0px 20px;
    flex-shrink: 0;
}

.fa-chart-line {
    font-size: 1.8rem;
}

.activities-section {
    margin: 30px 0;
}

.activites-wrap-mobile {
    width: 100%;
}

.activities-card {
    width: 23%;
    margin: 20px 0;
}
.large-card {
    height: 100%;
}
.activity-title {
    padding: 20px;
}
.large-img {
    width: 100%;
    height: 390px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

/* ~~~~~~~~~~~~  FOOTER ~~~~~~~~~~~~ */

footer {
    background: var(--sub-color-1);
    background-clip: content-box;
}

.footer-menu {
    width: 30%;
    padding: 70px 75px;
}

footer h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    margin: 0;
    padding-bottom: 20px;
}

footer a {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    padding: 5px 0;
}

/* ~~~~~~~~~~~~ Toutes mes classes flexbox ~~~~~~~~~~~~ */

.flex {
    display: flex;
}
.row {
    flex-direction: row;
}
.column {
    flex-direction: column;
}
.r-row {
    flex-direction: row;
}
.r-column {
    flex-direction: column;
}
.wrap {
    flex-wrap: wrap;
}
.items-center {
    align-items: center;
}
.justify-center {
    justify-content: center;
}
.justify-between {
    justify-content: space-between;
}
.justify-evenly {
    justify-content: space-evenly;
}
.justify-around {
    justify-content: space-around;
}
.justify-start {
    justify-content: flex-start;
}

/* ~~~~~~~~~~~~ MEDIA QUERY TABLETTE ~~~~~~~~~~~~ */

@media screen and (max-width: 1024px) {
    .h3-activites {
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
    }
    .container__filters {
        flex-direction: column;
        align-items: start;
    }
    .container__filters__title {
        margin: 0 10px 20px 0;
    }
    .container__filters__container {
        max-width: 668px;
        width: 100%;
    }
    .container__filters__container__item {
        margin: auto;

        span {
            font-size: 16px;
        }
    }
    .lodging__popular__wrapper {
        margin-top: 20px;
        flex-direction: row;
    }
    .popular__card {
        width: 31%;
    }
    .popular__card__title {
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
    }
    .popular__card__price {
        font-weight: 400;
        font-size: 13px;
        line-height: 15px;
    }
    .image__small {
        width: 42%;
    }
    .popular__card__info {
        width: 58%;
    }

    #lodging {
        flex-direction: column;
    }
    .lodging__marseille,
    .lodging__popular {
        width: 100%;
    }
    .lodging__popular {
        margin-top: 40px;
    }
    .footer-menu {
        padding: 45px;
    }
    .large-img {
        height: 200px;
    }
    .activity-title {
        padding: 10px 20px;
    }
}

/* ~~~~~~~~~~~~ MEDIA QUERY MOBILE ~~~~~~~~~~~~ */

@media screen and (max-width: 768px) {
    header,
    main,
    footer {
        padding: 0;
    }
    .header {
        flex-direction: column;
        margin-bottom: 30px;
    }
    .header__menu {
        width: 100%;

        .header__menu__item {
            width: 50%;
            padding-bottom: 15px;
            border-top: none;
            border-bottom: 2px solid var(--sub-color-1);
        }

        .header__menu__item:first-child {
            margin: 0;
        }

        .header__menu__item:hover {
            border-top: none;
            border-bottom: 2px solid var(--main-color);
            color: var(--main-color);
        }
    }

    .container,
    .activities-section {
        padding: 0 20px;
    }

    h3 {
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
    }

    .style-search {
        width: 100%;
    }
    .container__searchbar__button {
        position: relative;
        margin: -1px;
        border-radius: 15px;
        padding: 15px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }

    .container__info__icon {
        flex-shrink: 0;
    }
    .container_subtitle {
        margin: 15px 0;
    }
    .container__searchbar {
        width: 100%;
        max-width: 400px;
        min-width: 249px;
        margin-top: 35px;
    }
    .container__searchbar__button--research {
        display: none;
    }
    i.container__searchbar__button--magnifying-glass {
        display: block;
        font-size: 17px;
    }
    .container__searchbar__input {
        flex-grow: 0;
        width: 100%;
    }
    .container__filters__title {
        margin: 15px 0;
    }
    .container__filters {
        flex-direction: column;
        align-items: flex-start;
    }
    .container__filters__container {
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between;
    }
    .container__filters__container__item {
        margin: 7px 0 7px 0;
        width: 48%;
        min-width: 140px;
        padding: 0 10px;
    }
    .container__filters__container__item:focus {
        background: var(--sub-color-2);
    }
    .container__filters__container__item span {
        font-weight: 700;
        font-size: 14px;
        line-height: 13px;
        margin-top: 1px;
    }
    .container__filters__container__item i {
        font-size: 18px;
        width: 22.5px;
        margin-right: 10px;
    }
    .container__subtitle {
        margin: 8px 0 0 0;
    }

    #lodging {
        flex-direction: column-reverse;
    }
    .lodging__marseille,
    .lodging__popular {
        width: 100%;
        padding: 20px;
    }
    .lodging__marseille__wrapper {
        flex-direction: column;
    }
    .lodging__card {
        width: 100%;
    }
    .lodging__popular {
        margin: 0;
        border-radius: 0;
    }
    .lodging__marseille {
        border-radius: 0;
        background-color: #ffffff;
    }
    .lodging__popular__wrapper {
        flex-direction: column;

        a:nth-child(2) {
            margin: 15px 0;
        }
    }
    .popular__card {
        width: 100%;
    }
    .popular__card__title {
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
    }

    .popular__card__price {
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
    }
    .activites-wrap-mobile {
        flex-direction: column;
    }
    .activities-card {
        width: 100%;
    }
    .large-img {
        height: 135px;
    }
    .lodging__marseille_link {
        display: none;
    }
    .footer-menu {
        width: 100%;
        padding: 40px;
    }
    #footer {
        flex-direction: column;
    }
}
